# Web Scraping Assignment-1

In [5]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

1) Python program to display all the header tags from wikipedia.org with data frame of scraped data.

In [6]:
def header_tags(url):
    
    # Sending a request to a website for scraping data
    page=requests.get(url)
    page

    # Extracting content of the website 
    soup=BeautifulSoup(page.content)
    soup
    
    # Finding all the header tags
    header_tag = soup.find_all(['h1', 'h2', 'h3', 'h4', 'h5', 'h6'])
    header_tag

    # Extracting the text from the header tags
    header_tags=[]
    header_texts=[]
    for i in header_tag:
        header_tags.append(i.name)
        header_tags
        header_texts.append(i.text.strip())
        header_texts
        
    # Creating a DataFrame
    df=pd.DataFrame({'Header Tags':header_tags, 'Header Texts':header_texts})

    # Displaying the DataFrame
    return df

In [7]:
header_tags('https://en.wikipedia.org/wiki/Main_Page')

  Header Tags                   Header Texts
0          h1                      Main Page
1          h1           Welcome to Wikipedia
2          h2  From today's featured article
3          h2               Did you know ...
4          h2                    In the news
5          h2                    On this day
6          h2       Today's featured picture
7          h2       Other areas of Wikipedia
8          h2    Wikipedia's sister projects
9          h2            Wikipedia languages

2) Python program to display list of respected former presidents of India(i.e. Name , Term of office) from https://presidentofindia.nic.in/former-presidents.htm with data frame of scraped data.

In [8]:
def former_presidents(url):
    
    # Sending a request to a website for scraping data
    page=requests.get(url)
    page

    # Extracting content of the website
    soup=BeautifulSoup(page.content)
    soup
    
    # Extracting all former presidents names
    president_name=[]
    for i in soup.find_all('div',class_='presidentListing'):
        president_name.append(i.text.split('\n')[1].split('(')[0])
    president_name
    
    # Extracting former presidents term of office details
    term_of_office=[]
    for i in soup.find_all('p',class_=''):
        term_of_office.append(i.text.split(':')[1])
    term_of_office
    del term_of_office[1:8:2]
    term_of_office
    
    # Creating DataFrame
    df=pd.DataFrame({'President Name':president_name,'Term of Office':term_of_office})

    # Displaying the DataFrame
    print("List of respected former Presidents of India-")
    return df

In [9]:
former_presidents('https://presidentofindia.nic.in/former-presidents.htm')

List of respected former Presidents of India-

,President Name,Term of Office
0,Shri Ram Nath Kovind,"25 July, 2017 to 25 July, 2022"
1,Shri Pranab Mukherjee,"25 July, 2012 to 25 July, 2017"
2,Smt Pratibha Devisingh Patil,"25 July, 2007 to 25 July, 2012"
3,DR. A.P.J. Abdul Kalam,"25 July, 2002 to 25 July, 2007"
4,Shri K. R. Narayanan,"25 July, 1997 to 25 July, 2002"
5,Dr Shankar Dayal Sharma,"25 July, 1992 to 25 July, 1997"
6,Shri R Venkataraman,"25 July, 1987 to 25 July, 1992"
7,Giani Zail Singh,"25 July, 1982 to 25 July, 1987"
8,Shri Neelam Sanjiva Reddy,"25 July, 1977 to 25 July, 1982"
9,Dr. Fakhruddin Ali Ahmed,"24 August, 1974 to 11 February, 1977"
10,Shri Varahagiri Venkata Giri,"3 May, 1969 to 20 July, 1969 and 24 August, 1..."
11,Dr. Zakir Husain,"13 May, 1967 to 3 May, 1969"
12,Dr. Sarvepalli Radhakrishnan,"13 May, 1962 to 13 May, 1967"
13,Dr. Rajendra Prasad,"26 January, 1950 to 13 May, 1962"

3) Python program to scrape cricket rankings from icc-cricket.com. with data frame of scraped data.

a) Top 10 ODI teams in men’s cricket along with the records for matches, points and rating.

In [10]:
def top_10_ODI_teams_men(url):
    
    # Sending a request to a website for scraping data
    page=requests.get(url)
    page

    # Extracting content of the website
    soup=BeautifulSoup(page.content)
    soup
    
    # Extrating data of top 10 ODI teams in men's cricket
    ODI_team=[]
    for i in soup.find_all('span',class_='u-hide-phablet'):
        ODI_team.append(i.text)
    ODI_team
    ODI_team[0:10]
    
    # Extracting data of matches played by the teams
    match=soup.find('td',class_='rankings-block__banner--matches')
    match.text
    matches=[]
    for i in soup.find_all('td',class_='table-body__cell u-center-text'):
        matches.append(i.text)
    matches
    del matches[1::2]
    matches
    matches.insert(0,match.text)        
    matches[0:10]
    
    # Extracting data of points obtained by the teams
    point=soup.find('td',class_='rankings-block__banner--points')
    point.text
    points=[]
    for i in soup.find_all('td',class_='table-body__cell u-center-text'):
        points.append(i.text)
    points
    del points[0::2]
    points
    points.insert(0,point.text)
    points[0:10]
    
    # Extracting data of ratings obtained by the teams
    rating=soup.find('td',class_='rankings-block__banner--rating u-text-right')
    rating.text
    ratings=[]
    for i in soup.find_all('td',class_='table-body__cell u-text-right rating'):
        ratings.append(i.text)
    ratings
    ratings.insert(0,118)
    ratings[0:10]
    
    # Creating DataFrame
    df=pd.DataFrame({'Team':ODI_team[0:10],'Matches':matches[0:10],'Points':points[0:10],'Rating':ratings[0:10]},index=range(1,11))

    # Displaying DataFrame
    print("Top 10 ODI teams in men’s cricket")
    return df

In [11]:
top_10_ODI_teams_men('https://www.icc-cricket.com/rankings/mens/team-rankings/odi')

Top 10 ODI teams in men’s cricket

            Team Matches Points Rating
1      Australia      23  2,714    118
2       Pakistan      20  2,316    116
3          India      33  3,807    115
4    New Zealand      27  2,806    104
5        England      24  2,426    101
6   South Africa      19  1,910    101
7     Bangladesh      25  2,451     98
8    Afghanistan      10    878     88
9      Sri Lanka      21  1,682     80
10   West Indies      25  1,797     72

b) Top 10 ODI Batsmen along with the records of their team and rating.

In [12]:
def top_10_ODI_batsmen(url):
    
    # Sending a request to a website for scraping data
    page=requests.get(url)
    page

    # Extracting content of the website
    soup=BeautifulSoup(page.content)
    soup
    
    # Extracting data of the top 10 batsmen in ODI cricket
    player=[]
    for i in soup.find_all('div',class_='rankings-block__banner--name'):
        player.append(i.text)
    player
    player[0]
    players=[]
    for i in soup.find_all('a',class_=''):
        players.append(i.text)
    players
    players.insert(0,player[0])
    players[0:10]
    
    # Extracting data of respective teams of the top 10 batsmen in ODI cricket
    team=[]
    for i in soup.find_all('div',class_='rankings-block__banner--nationality'):
        team.append(i.text.split('\n\n')[1].split('\n')[0])
    team
    team[0]
    teams=[]
    for i in soup.find_all('span',class_='table-body__logo-text'):
        teams.append(i.text)
    teams
    teams.insert(0,team[0])
    teams[0:10]
    
    # Extracting data of rating obtained by the top 10 batsmen in ODI cricket
    rating=[]
    for i in soup.find_all('div',class_='rankings-block__banner--rating'):
        rating.append(i.text)
    rating[0]
    ratings=[]
    for i in soup.find_all('td',class_='table-body__cell u-text-right rating'):
        ratings.append(i.text)
    ratings
    ratings.insert(0,rating[0])
    ratings[0:10]
    
    # Crating DataFrame
    df=pd.DataFrame({'Player':players[0:10],'Team':teams[0:10],'Rating':ratings[0:10]},index=range(1,11))

    # Displaying DataFrame
    print("Top 10 ODI batsmen in men’s cricket")
    return df

In [13]:
top_10_ODI_batsmen('https://www.icc-cricket.com/rankings/mens/player-rankings/odi')

Top 10 ODI batsmen in men’s cricket

                   Player Team Rating
1              Babar Azam  PAK    886
2   Rassie van der Dussen   SA    777
3            Fakhar Zaman  PAK    755
4             Imam-ul-Haq  PAK    745
5            Shubman Gill  IND    738
6            David Warner  AUS    726
7            Harry Tector  IRE    722
8             Virat Kohli  IND    719
9         Quinton de Kock   SA    718
10           Rohit Sharma  IND    707

c) Top 10 ODI bowlers along with the records of their team and rating.

In [14]:
def top_10_ODI_bowlers_men(url):
    
    # Sending a request to a website for scraping data
    page=requests.get(url)
    page

    # Extracting content of the website
    soup=BeautifulSoup(page.content)
    soup
    
    # Extracting data of the top 10 bowlers in ODI cricket
    player=[]
    for i in soup.find_all('div',class_='rankings-block__banner--name'):
        player.append(i.text)
    player
    player[1]
    players=[]
    for i in soup.find_all('a',class_=''):
        players.append(i.text)
    players
    players.insert(9,player[1])
    players[9:19]
    
    # Extracting data of respective teams of the top 10 bowlers in ODI cricket
    team=[]
    for i in soup.find_all('div',class_='rankings-block__banner--nationality'):
        team.append(i.text.split('\n\n')[1].split('\n')[0])
    team
    team[1]
    teams=[]
    for i in soup.find_all('span',class_='table-body__logo-text'):
        teams.append(i.text)
    teams
    teams.insert(9,team[1])
    teams[9:19]
    
    # Extracting data of rating obtained by the top 10 batsmen in ODI cricket
    rating=[]
    for i in soup.find_all('div',class_='rankings-block__banner--rating'):
        rating.append(i.text)
    rating[1]
    ratings=[]
    for i in soup.find_all('td',class_='table-body__cell u-text-right rating'):
        ratings.append(i.text)
    ratings
    ratings.insert(9,rating[1])
    ratings[9:19]
    
    # Creating dataframe
    df=pd.DataFrame({'Player':players[9:19],'Team':teams[9:19],'Rating':ratings[9:19]},index=range(1,11))

    # Diaplaying dataframe
    print("Top 10 ODI bowlers in men’s cricket")
    return df

In [15]:
top_10_ODI_bowlers_men('https://www.icc-cricket.com/rankings/mens/player-rankings/odi')

Top 10 ODI bowlers in men’s cricket

              Player Team Rating
1     Josh Hazlewood  AUS    705
2     Mohammed Siraj  IND    691
3     Mitchell Starc  AUS    686
4         Matt Henry   NZ    667
5        Trent Boult   NZ    660
6        Rashid Khan  AFG    659
7         Adam Zampa  AUS    652
8   Mujeeb Ur Rahman  AFG    637
9      Mohammad Nabi  AFG    631
10    Shaheen Afridi  PAK    630

4) Python program to scrape cricket rankings from icc-cricket.com. with data frame of scraped data.

a) Top 10 ODI teams in women’s cricket along with the records for matches, points and rating

In [16]:
def top_10_ODI_teams_women(url):
    
    # Sending a request to a website for scraping data
    page=requests.get(url)
    page

    # Extracting content of the website
    soup=BeautifulSoup(page.content)
    soup
    
    # Extrating data of top 10 ODI teams in women's cricket
    ODI_team=[]
    for i in soup.find_all('span',class_='u-hide-phablet'):
        ODI_team.append(i.text)
    ODI_team
    ODI_team[0:10]
    
    # Extracting data of matches played by the teams
    match=soup.find('td',class_='rankings-block__banner--matches')
    match.text
    matches=[]
    for i in soup.find_all('td',class_='table-body__cell u-center-text'):
        matches.append(i.text)
    matches
    del matches[1::2]
    matches
    matches.insert(0,match.text)
    matches[0:10]
    
    # Extracting data of points obtained by the teams
    point=soup.find('td',class_='rankings-block__banner--points')
    point.text
    points=[]
    for i in soup.find_all('td',class_='table-body__cell u-center-text'):
        points.append(i.text)
    points
    del points[0::2]
    points
    points.insert(0,point.text)
    points[0:10]
    
    # Extracting data of ratings obtained by the teams
    rating=soup.find('td',class_='rankings-block__banner--rating u-text-right')
    rating.text
    ratings=[]
    for i in soup.find_all('td',class_='table-body__cell u-text-right rating'):
        ratings.append(i.text)
    ratings
    ratings.insert(0,172)
    ratings[0:10]
    
    # Creating DataFrame
    df=pd.DataFrame({'Team':ODI_team[0:10],'Matches':matches[0:10],'Points':points[0:10],'Rating':ratings[0:10]},index=range(1,11))

    # Displaying DataFrame
    print("Top 10 ODI teams in women’s cricket")
    return df

In [17]:
top_10_ODI_teams_women('https://www.icc-cricket.com/rankings/womens/team-rankings/odi')

Top 10 ODI teams in women’s cricket

            Team Matches Points Rating
1      Australia      21  3,603    172
2        England      28  3,342    119
3   South Africa      26  3,098    119
4          India      27  2,820    104
5    New Zealand      25  2,553    102
6    West Indies      27  2,535     94
7       Thailand      11    821     75
8     Bangladesh      14    977     70
9       Pakistan      27  1,678     62
10     Sri Lanka       9    479     53

b) Top 10 women’s ODI Batting players along with the records of their team and rating.

In [18]:
def top_10_ODI_batters_women(url):
   
    # Sending a request to a website for scraping data
    page=requests.get(url)
    page

    # Extracting content of the website
    soup=BeautifulSoup(page.content)
    soup
    
    # Extracting data of the top 10 women’s ODI Batting players
    player=[]
    for i in soup.find_all('div',class_='rankings-block__banner--name'):
        player.append(i.text)
    player
    player[0]
    players=[]
    for i in soup.find_all('a',class_=''):
        players.append(i.text)
    players
    players.insert(0,player[0])
    players[0:10]
    
    # Extracting data of respective teams of the top 10 women’s ODI Batting players
    team=[]
    for i in soup.find_all('div',class_='rankings-block__banner--nationality'):
        team.append(i.text.split('\n\n')[1].split('\n')[0])
    team
    team[0]
    teams=[]
    for i in soup.find_all('span',class_='table-body__logo-text'):
        teams.append(i.text)
    teams
    teams.insert(0,team[0])
    teams[0:10]
    
    # Extracting data of rating obtained by the top 10 women’s ODI Batting players
    rating=[]
    for i in soup.find_all('div',class_='rankings-block__banner--rating'):
        rating.append(i.text)
    rating[0]
    ratings=[]
    for i in soup.find_all('td',class_='table-body__cell u-text-right rating'):
        ratings.append(i.text)
    ratings
    ratings.insert(0,rating[0])
    ratings[0:10]
    
    # Creating DataFrame
    df=pd.DataFrame({'Player':players[0:10],'Team':teams[0:10],'Rating':ratings[0:10]},index=range(1,11))

    # Displaying DataFrame
    print("Top 10 women’s ODI Batting players")
    return df

In [19]:
top_10_ODI_batters_women('https://www.icc-cricket.com/rankings/womens/player-rankings/odi')

Top 10 women’s ODI Batting players

                 Player Team Rating
1           Beth Mooney  AUS    754
2       Laura Wolvaardt   SA    732
3        Natalie Sciver  ENG    731
4           Meg Lanning  AUS    717
5      Harmanpreet Kaur  IND    716
6       Smriti Mandhana  IND    714
7   Chamari Athapaththu   SL    673
8          Ellyse Perry  AUS    626
9        Tammy Beaumont  ENG    595
10      Stafanie Taylor   WI    588

c) Top 10 women’s ODI all-rounder along with the records of their team and rating.

In [20]:
def top_10_ODI_all_rounders_women(url):
    
    # Sending a request to a website for scraping data
    page=requests.get(url)
    page

    # Extracting content of the website
    soup=BeautifulSoup(page.content)
    soup
    
    # Extracting data of the top 10 women’s ODI all-rounder
    player=[]
    for i in soup.find_all('div',class_='rankings-block__banner--name'):
        player.append(i.text)
    player
    player[2]
    players=[]
    for i in soup.find_all('a',class_=''):
        players.append(i.text)
    players
    players.insert(18,player[2])
    players[18:28]
    
    # Extracting data of respective teams of the top 10 women’s ODI all-rounder
    team=[]
    for i in soup.find_all('div',class_='rankings-block__banner--nationality'):
        team.append(i.text.split('\n\n')[1].split('\n')[0])
    team
    team[2]
    teams=[]
    for i in soup.find_all('span',class_='table-body__logo-text'):
        teams.append(i.text)
    teams
    teams.insert(18,team[0])
    teams[18:28]
    
    # Extracting data of rating obtained by the top 10 women’s ODI all-rounder
    rating=[]
    for i in soup.find_all('div',class_='rankings-block__banner--rating'):
        rating.append(i.text)
    rating[2]
    ratings=[]
    for i in soup.find_all('td',class_='table-body__cell u-text-right rating'):
        ratings.append(i.text)
    ratings
    ratings.insert(18,rating[2])
    ratings[18:28]
    
    # Creating DataFrame
    df=pd.DataFrame({'Player':players[18:28],'Team':teams[18:28],'Rating':ratings[18:28]},index=range(1,11))

    # Displaying DataFrame
    print("Top 10 women’s ODI all rounders")
    return df

In [21]:
top_10_ODI_all_rounders_women('https://www.icc-cricket.com/rankings/womens/player-rankings/odi')

Top 10 women’s ODI all rounders

               Player Team Rating
1     Hayley Matthews  AUS    373
2      Natalie Sciver  ENG    371
3        Ellyse Perry  AUS    366
4      Marizanne Kapp   SA    349
5         Amelia Kerr   NZ    336
6       Deepti Sharma  IND    322
7    Ashleigh Gardner  AUS    292
8       Jess Jonassen  AUS    250
9            Nida Dar  PAK    232
10  Sophie Ecclestone  ENG    205

5) Python program to scrape mentioned news details from https://www.cnbc.com/world/?region=world with data frame of scraped data

i) Headline

ii) Time

iii) News Link

In [22]:
def news(url):

    # Sending a request to a website for scraping data
    page=requests.get(url)
    page

    # Extracting content of the website
    soup=BeautifulSoup(page.content)
    soup
    
    # i) Headline
    
    # Extracting headlines data
    headlines=[]
    for i in soup.find_all('a',class_='LatestNews-headline'):
        headlines.append(i.text)
    headlines
    
    # ii) Time
    
    # Extracting time data
    time=[]
    for i in soup.find_all('time',class_='LatestNews-timestamp'):
        time.append(i.text)
    time
    
    # iii) News Link
    
    # Extracting news link data
    news_link=[]
    for i in soup.find_all('a',class_='LatestNews-headline'):
        news_link.append(i.get('href'))
    news_link
    
    # Creating DataFrame
    df=pd.DataFrame({'Headlines':headlines,'Time':time,'News Link':news_link})

    # Displaying DataFrame
    return df

In [23]:
news('https://www.cnbc.com/world/?region=world')

,Headlines,Time,News Link
0,Turkey votes in runoff election after candidat...,57 Min Ago,https://www.cnbc.com/2023/05/28/turkey-electio...
1,White House and Republicans reach a tentative ...,4 Hours Ago,https://www.cnbc.com/2023/05/27/white-house-an...
2,State Farm to stop accepting homeowners insura...,10 Hours Ago,https://www.cnbc.com/2023/05/27/state-farm-to-...
3,How Janie Deegan built Janie's Life-Changing B...,15 Hours Ago,https://www.cnbc.com/2023/05/27/how-janie-deeg...
4,Top 10 cheapest places in the U.S. to buy a be...,15 Hours Ago,https://www.cnbc.com/2023/05/27/cheapest-place...
5,Mark Cuban calls Elon Musk’s Twitter algorithm...,15 Hours Ago,https://www.cnbc.com/2023/05/27/mark-cuban-say...
6,3 investing tips as the federal debt ceiling '...,16 Hours Ago,https://www.cnbc.com/2023/05/27/how-to-invest-...
7,Microsoft keyboard users are ‘devastated’ afte...,16 Hours Ago,https://www.cnbc.com/2023/05/27/microsoft-keyb...
8,Steve Adcock: The 3 'stupidest' myths I've hea...,16 Hours Ago,https://www.cnbc.com/2023/05/27/steve-adcock-t...
9,Chip stocks AMD and Nvidia are among the most ...,17 Hours Ago,https://www.cnbc.com/2023/05/27/chip-stocks-am...
10,Analysts are pounding the table for these must...,17 Hours Ago,https://www.cnbc.com/2023/05/27/analysts-are-p...
11,Lower-income consumers pay for wealthy's credi...,17 Hours Ago,https://www.cnbc.com/2023/05/27/lower-income-a...
12,How Mastercard has outperformed Visa,17 Hours Ago,https://www.cnbc.com/2023/05/27/how-mastercard...
13,Why commercial real estate firms are joining t...,17 Hours Ago,https://www.cnbc.com/2023/05/27/commercial-rea...
14,Japan stocks are on fire this year. Why the ra...,17 Hours Ago,https://www.cnbc.com/2023/05/27/japan-stocks-a...
15,Marvell Technology shares surge after earnings...,"May 26, 2023",https://www.cnbc.com/2023/05/26/marvell-techno...
16,"The tech trade is back, driven by A.I. craze a...","May 26, 2023",https://www.cnbc.com/2023/05/26/tech-stocks-ar...
17,Next week hints at only short-lived debt deal ...,"May 26, 2023",https://www.cnbc.com/2023/05/26/next-week-hint...
18,Treasury says it could run out of money June 5...,"May 26, 2023",https://www.cnbc.com/2023/05/26/treasury-says-...
19,Disney rips DeSantis bid to disqualify judge i...,"May 26, 2023",https://www.cnbc.com/2023/05/26/disney-rips-de...
20,Why the pause on student loan payments has bee...,"May 26, 2023",https://www.cnbc.com/2023/05/26/the-pause-on-s...
21,Facebook-Giphy sale shows how fear of regulato...,"May 26, 2023",https://www.cnbc.com/2023/05/26/facebook-giphy...
22,"JPMorgan Chase cut about 500 jobs this week, i...","May 26, 2023",https://www.cnbc.com/2023/05/26/job-cuts-jpmor...
23,Is there a 'right' age for kids to be on socia...,"May 26, 2023",https://www.cnbc.com/2023/05/26/the-right-age-...
24,A.I. excitement leads to a winning week for Nv...,"May 26, 2023",https://www.cnbc.com/2023/05/26/ai-excitement-...
25,Nvidia shares jumped 25% this week — and got c...,"May 26, 2023",https://www.cnbc.com/2023/05/26/nvidia-shares-...
26,Needham says this stock plays the 'almost perf...,"May 26, 2023",https://www.cnbc.com/2023/05/26/needham-this-s...
27,AI is the latest buzzword in tech—but before i...,"May 26, 2023",https://www.cnbc.com/2023/05/26/chatgpt-machin...
28,Taylor Swift to Metallica: Top 10 most in-dema...,"May 26, 2023",https://www.cnbc.com/2023/05/26/taylor-swift-b...
29,Investors shifted into these gold and small-ca...,"May 26, 2023",https://www.cnbc.com/2023/05/26/investors-shif...

6) Python program to scrape the details of most downloaded articles from AI in last 90 days.https://www.journals.elsevier.com/artificial-intelligence/most-downloaded-articles with data frame of scraped data of below mentioned details

i) Paper Title

ii) Authors

iii) Published Date

iv) Paper URL

In [24]:
def AI_articles(url):

    # Sending a request to a website for scraping data
    page=requests.get(url)
    page

    # Extracting content of the website
    soup=BeautifulSoup(page.content)
    soup
    
    # i) Paper Title
    
    # Extracting paper title data
    paper_title=[]
    for i in soup.find_all('h2',class_='sc-1qrq3sd-1 gRGSUS sc-1nmom32-0 sc-1nmom32-1 btcbYu goSKRg'):
        paper_title.append(i.text)
    paper_title
    
    # ii) Authors
    
    # Extracting authors data
    authors=[]
    for i in soup.find_all('span',class_='sc-1w3fpd7-0 dnCnAO'):
        authors.append(i.text)
    authors
    
    # iii) Published Date
    
    # Extracting data of published dates of respective articles
    published_date=[]
    for i in soup.find_all('span',class_='sc-1thf9ly-2 dvggWt'):
        published_date.append(i.text)
    published_date
    
    # iv) Paper URL
    
    # Extracting URLs of respective articles
    paper_url=[]
    for i in soup.find_all('a',class_='sc-5smygv-0 fIXTHm'):
        paper_url.append(i.get('href'))
    paper_url
    
    # Creating DataFrame
    df=pd.DataFrame({'Paper Title':paper_title,'Authors':authors,'Published Date':published_date,'Paper URL':paper_url})

    # Displaying DataFrame
    print("List of the most downloaded articles from Artificial Intelligence in the last 90 days")
    return df

In [25]:
AI_articles('https://www.journals.elsevier.com/artificial-intelligence/most-downloaded-articles')

List of the most downloaded articles from Artificial Intelligence in the last 90 days

,Paper Title,Authors,Published Date,Paper URL
0,Reward is enough,"David Silver, Satinder Singh, Doina Precup, Ri...",October 2021,https://www.sciencedirect.com/science/article/...
1,Explanation in artificial intelligence: Insigh...,Tim Miller,February 2019,https://www.sciencedirect.com/science/article/...
2,Creativity and artificial intelligence,Margaret A. Boden,August 1998,https://www.sciencedirect.com/science/article/...
3,Conflict-based search for optimal multi-agent ...,"Guni Sharon, Roni Stern, Ariel Felner, Nathan ...",February 2015,https://www.sciencedirect.com/science/article/...
4,Knowledge graphs as tools for explainable mach...,"Ilaria Tiddi, Stefan Schlobach",January 2022,https://www.sciencedirect.com/science/article/...
5,Law and logic: A review from an argumentation ...,"Henry Prakken, Giovanni Sartor",October 2015,https://www.sciencedirect.com/science/article/...
6,Between MDPs and semi-MDPs: A framework for te...,"Richard S. Sutton, Doina Precup, Satinder Singh",August 1999,https://www.sciencedirect.com/science/article/...
7,Explaining individual predictions when feature...,"Kjersti Aas, Martin Jullum, Anders Løland",September 2021,https://www.sciencedirect.com/science/article/...
8,Multiple object tracking: A literature review,"Wenhan Luo, Junliang Xing and 4 more",April 2021,https://www.sciencedirect.com/science/article/...
9,A survey of inverse reinforcement learning: Ch...,"Saurabh Arora, Prashant Doshi",August 2021,https://www.sciencedirect.com/science/article/...
10,Evaluating XAI: A comparison of rule-based and...,"Jasper van der Waa, Elisabeth Nieuwburg, Anita...",February 2021,https://www.sciencedirect.com/science/article/...
11,Explainable AI tools for legal reasoning about...,"Joe Collenette, Katie Atkinson, Trevor Bench-C...",April 2023,https://www.sciencedirect.com/science/article/...
12,Hard choices in artificial intelligence,"Roel Dobbe, Thomas Krendl Gilbert, Yonatan Mintz",November 2021,https://www.sciencedirect.com/science/article/...
13,Assessing the communication gap between AI mod...,"Oskar Wysocki, Jessica Katharine Davies and 5 ...",March 2023,https://www.sciencedirect.com/science/article/...
14,Explaining black-box classifiers using post-ho...,"Eoin M. Kenny, Courtney Ford, Molly Quinn, Mar...",May 2021,https://www.sciencedirect.com/science/article/...
15,The Hanabi challenge: A new frontier for AI re...,"Nolan Bard, Jakob N. Foerster and 13 more",March 2020,https://www.sciencedirect.com/science/article/...
16,Wrappers for feature subset selection,"Ron Kohavi, George H. John",December 1997,https://www.sciencedirect.com/science/article/...
17,Artificial cognition for social human–robot in...,"Séverin Lemaignan, Mathieu Warnier and 3 more",June 2017,https://www.sciencedirect.com/science/article/...
18,A review of possible effects of cognitive bias...,"Tomáš Kliegr, Štěpán Bahník, Johannes Fürnkranz",June 2021,https://www.sciencedirect.com/science/article/...
19,The multifaceted impact of Ada Lovelace in the...,Luigia Carlucci Aiello,June 2016,https://www.sciencedirect.com/science/article/...
20,Robot ethics: Mapping the issues for a mechani...,"Patrick Lin, Keith Abney, George Bekey",April 2011,https://www.sciencedirect.com/science/article/...
21,Reward (Mis)design for autonomous driving,"W. Bradley Knox, Alessandro Allievi and 3 more",March 2023,https://www.sciencedirect.com/science/article/...
22,Planning and acting in partially observable st...,"Leslie Pack Kaelbling, Michael L. Littman, Ant...",May 1998,https://www.sciencedirect.com/science/article/...
23,What do we want from Explainable Artificial In...,"Markus Langer, Daniel Oster and 6 more",July 2021,https://www.sciencedirect.com/science/article/...

7) Python program to scrape mentioned details from dineout.co.in with data frame of scraped data

i) Restaurant name

ii) Cuisine

iii) Location

iv) Ratings

v) Image URL

In [26]:
def restaurants_details(url):
    
    # Sending a request to a website for scraping data
    page=requests.get(url)
    page

    # Extracting content of the website
    soup=BeautifulSoup(page.content)
    soup
    
    # i) Restaurant name
    
    # Extracting names of the restaurants
    restaurant_name=[]
    for i in soup.find_all('a',class_='restnt-name ellipsis'):
        restaurant_name.append(i.text)
    restaurant_name
    
    # ii) Cuisine
    
    # Extracting data of available cuisines in various restaurants
    cuisine=[]
    for i in soup.find_all('span',class_='double-line-ellipsis'):
        cuisine.append(i.text.split('|')[1])
    cuisine
    
    # iii) Location
    
    # Extracting data of locations of the restaurants
    location=[]
    for i in soup.find_all('div',class_="restnt-loc ellipsis"):
        location.append(i.text)
    location
    
    # iv) Ratings
    
    # Extracting data of ratings obtained by the restaurants
    ratings=[]
    for i in soup.find_all('div',class_='restnt-rating rating-4'):
        ratings.append(i.text)
    ratings
    
    # v) Image URL
    
    # Extraing image-URLs of the restaurants
    image_url=[]
    for i in soup.find_all('img',class_="no-img"):
        image_url.append(i.get('data-src'))
    image_url
    
    # Creating DataFrame
    df=pd.DataFrame({'Restaurant Name':restaurant_name,'Cuisine':cuisine,'Location':location,'Ratings':ratings,'Image-URL':image_url})

    # Displaying DataFrame
    return df

In [27]:
restaurants_details('https://www.dineout.co.in/delhi-restaurants/buffet-special')

,Restaurant Name,Cuisine,Location,Ratings,Image-URL
0,Castle Barbeque,"Chinese, North Indian","Connaught Place, Central Delhi",4,https://im1.dineout.co.in/images/uploads/resta...
1,Jungle Jamboree,"North Indian, Asian, Italian","3CS Mall,Lajpat Nagar - 3, South Delhi",3.9,https://im1.dineout.co.in/images/uploads/resta...
2,Cafe Knosh,"Italian, Continental","The Leela Ambience Convention Hotel,Shahdara, ...",4.3,https://im1.dineout.co.in/images/uploads/resta...
3,Castle's Barbeque,"Chinese, North Indian","Pacific Mall,Tagore Garden, West Delhi",3.9,https://im1.dineout.co.in/images/uploads/resta...
4,The Barbeque Company,"North Indian, Chinese","Gardens Galleria,Sector 38A, Noida",3.9,https://im1.dineout.co.in/images/uploads/resta...
5,India Grill,"North Indian, Italian","Hilton Garden Inn,Saket, South Delhi",3.9,https://im1.dineout.co.in/images/uploads/resta...
6,Delhi Barbeque,North Indian,"Taurus Sarovar Portico,Mahipalpur, South Delhi",3.7,https://im1.dineout.co.in/images/uploads/resta...
7,The Monarch - Bar Be Que Village,North Indian,"Indirapuram Habitat Centre,Indirapuram, Ghaziabad",3.8,https://im1.dineout.co.in/images/uploads/resta...
8,Indian Grill Room,"North Indian, Mughlai","Suncity Business Tower,Golf Course Road, Gurgaon",4.3,https://im1.dineout.co.in/images/uploads/resta...